body {
    margin: 0;
    padding: 0;
}

.container-main {
    background-color: #F5F5F5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
      font-size: 20px;
      color: white;
      z-index: 15;
}

@keyframes typing {
  0.0000%, 28.3488% { content: ""; }
  0.0000%, 27.3488% { content: "D"; }
  1.1395%, 26.2093% { content: "De"; }
  2.2791%, 25.0698% { content: "Des"; }
  3.4186%, 23.9302% { content: "Desi"; }
  4.5581%, 22.7907% { content: "Desig"; }
  5.6977%, 21.6512% { content: "Design"; }
  6.8372%, 20.5116% { content: "Designe"; }
  7.9767%, 19.3721% { content: "Designer"; }

  29.7674%, 52.2791% { content: ""; }
  30.7674%, 51.2791% { content: "D"; }
  31.9070%, 50.1395% { content: "De"; }
  33.0465%, 49.0000% { content: "Dev"; }
  34.1860%, 47.8605% { content: "Deve"; }
  35.3256%, 46.7209% { content: "Devel"; }
  36.4651%, 45.5814% { content: "Develo"; }
  37.6047%, 44.4419% { content: "Develop"; }
  38.6047%, 43.4419% { content: "Develope"; }
  39.6047%, 42.4419% { content: "Developer"; }

  51.6977%, 73.2093% { content: ""; }
  52.8372%, 72.0698% { content: "F"; }
  53.9767%, 71.9302% { content: "Fr"; }
  54.1163%, 70.7907% { content: "Fre"; }
  55.2558%, 69.6512% { content: "Free"; }
  56.3953%, 68.5116% { content: "Freel"; }
  57.5349%, 67.3721% { content: "Freela"; }
  58.5349%, 66.3721% { content: "Freelan"; }
  59.5349%, 65.3721% { content: "Freelanc"; }
  60.5349%, 64.3721% { content: "Freelance"; }
  61.5349%, 63.3721% { content: "Freelancer"; }

  74.6279%, 100.8605% { content: ""; }
  75.6279%, 99.8605% { content: "P"; }
  76.6279%, 98.8605% { content: "Ph"; }
  77.6279%, 97.8605% { content: "Pho"; }
  78.6279%, 96.8605% { content: "Phot"; }
  79.7674%, 95.7209% { content: "Photo"; }
  80.9070%, 94.5814% { content: "Photog"; }
  82.0465%, 93.4419% { content: "Photogr"; }
  83.1860%, 92.3023% { content: "Photogra"; }
  84.1860%, 91.3023% { content: "Photograp"; }
  85.1860%, 90.3023% { content: "Photograph"; }
  86.1860%, 89.3023% { content: "Photographe"; }
  87.3256%, 88.1628% { content: "Photographer"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}


@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%, 100% { content: "Designer"; }
    25% { content: "Developer"; }
    50% { content: "Freelancer"; }
    75% { content: "Photographer"; }
  }

  .typewriter::before {
    content: "Designer";
    animation: sequencePopup 12s linear infinite;
  }
}


#to-top-button {
    z-index: 20;
    opacity: 0;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #0078FF;
    border-radius: 100%;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.greeting-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #e8e8e8;
}

#greeting-title {
    font-weight: bolder;
    font-size: 65px;
    color: white;
    z-index: 15;
}


.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#title {
    font-size: 45px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.info-container {

    position: relative;
    height: 400px;
    width: 100%;
    background-image: url(../imgs/1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    z-index: 1;
}

#blue-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #0078FF;
    z-index: 1;
}

#info-circle {
    z-index: 3;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 10px solid #CDE1F8;
}

.info-elems {

    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.info-elems div {
    width: 190px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 4;
    text-align: center;
}

.counter {
    font-size: 35px;
    margin: 10px 0;
}

#circle-text {
    font-size: 15px;
    margin: 0;
}

#person-name {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 20px;
    margin: 15px 0 30px 0;
}

#person-desc {
    font-size: 18px;
    text-align: center;
    line-height: 150%;
}

.carousel {
    position: relative;
    height: 600px;
    width: 100%;
    background-image: url(../imgs/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
    color: white;
}

.carousel-item {
    width: 100vw;
    height: 600px;
}

#carousel-indicator {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}

#carousel-indicator:hover {
    background-color: #7CAEEB;
    transition: 0.5s;
}

#carousel-indicator:not(hover) {
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

.carousel-item > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0;
}

.card-container {
    border-radius: 15px;
    display: grid;
    padding: 60px;
    background-color: white;
    box-shadow: 0 0 7px rgb(190, 190, 190);
    margin: 120px 0 50px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.75fr 2fr;
    grid-gap: 30px;
    width: 80%;
    box-sizing: border-box;
}

.card-container > #item > div > img {
    margin-right: 80px;
    border-radius: 10px;
}

li > p,
#progress-bar-title {
    color:rgb(84, 84, 84);
}

#progress-bar {
    width: 100%;
    height: 12px;
    display: flex;
    flex-direction: row;
}

#progress-bar-title {
    margin: 25px 0 10px 0;
}

.card-container > #item:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
}

.card-container > #item:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    color:rgb(84, 84, 84);
    font-size: 20px;
    text-align: justify;
    line-height: 150%;
}

.card-container > #item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#card-title {
    font-size: 30px;
    color: black;
}

#card-blue-line {
    width: 80px;
    height: 4px;
    background-color: #0078FF;
    margin: 10px 0 30px 0;
}

li {
    list-style: none;
}

#dark-blue {
    background-color: #0078FF;
    height: 100%;
}

#light-blue {
    background-color: #CDE1F8;
    height: 100%;
}

.container-cards {
    display: grid;
    height: 100%;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 25px;
    margin-bottom: 50px;
}

.container-cards > div {
    box-sizing: border-box;
    padding: 40px;
    background-color: white;
    box-shadow: 0 1px 7px rgb(190, 190, 190);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cards > div > div {
    color: rgb(84, 84, 84);
    text-align: justify;
    line-height: 150%;
    margin-bottom: 10px;
}

#cards-title {
    color: black;
    text-transform: uppercase;
    font-size: 20px;
}

.card-circle {
    border: 10px solid #0078FF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-circle > img {
    filter: invert(0);
    width: 100px;
    padding: 30px;
}

.card-circle > img:hover {
    filter: invert(1);
    transition: 0.5s;
}

.card-circle > img:not(hover) {
    filter: invert(0);
    transition: 0.5s;
}

.card-circle:hover {
    border: 10px solid #CDE1F8;
    background-color: #0078FF;
    transition: 0.5s;
}

.card-circle:not(:hover) {
    border: 10px solid #0078FF;
    transition: 0.5s;
}

.photo-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 40px;
    margin-bottom: 50px;
    width: 80%;
    box-sizing: border-box;
}

#photo-item {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 7px rgb(190, 190, 190);
    width: 33,33%;
}

#photocard-container {
    overflow: hidden;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plus-circle {
    width: 50px;
    cursor: pointer;
}

#photocard {
    width: 130%;
    background-size: cover;
}

#photocard:hover {
    width: 160%;
    transition: 0.7s;
}

#photocard:not(:hover) {
    width: 130%;
    transition: 0.7s;
}

.photocard-desc {
    display: flex;
    position: relative;
    flex-direction: row;
    box-sizing: border-box;
    padding: 30px 18px;
    justify-content: space-between;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    width: 80%;
    column-gap: 25px;
    box-sizing: border-box;
    margin-bottom: 50px;
}

#blog-item {
    background-color: white;
    box-shadow: 0 1px 7px rgb(190, 190, 190);
    border: 1px solid #CBCBCB;
    border-radius: 15px;
    overflow: hidden;
}

#photo-text {
    font-size: 16px;
    color: rgb(84, 84, 84);
    line-height: 140%;
    text-align: justify;
    margin-top: 10px;
}

#blue-tag {
    position: absolute;
    background-color: #0078FF;
    width: fit-content;
    padding: 0px 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    height: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -15px;
}

#man-icon {
    width: 40px;
    border-radius: 100%;
}

#blog-data {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #CBCBCB;
    padding: 5px 18px;
}

#blog-data > div {
    display: flex;
    flex-direction: row;
}

#blog-data > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 0 5px;
}


/* contact */


.contact-cont {
    position: relative;
    height: 800px;
    width: 100%;
    background-image: url(../imgs/3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 8px #004ea7;
}

.contacts {
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 30px;
    width: 50%;
    z-index: 3;
    box-shadow: 0 1px 8px #004ea7;
    border-radius: 15px;
}

#contact-item {
    display: flex;
    flex-direction: column;
}

#field-msg {
    font-family: Lato, sans-serif;
    height: 120px;
}

#field, #field-msg {
    border: 1px solid #CED4DA;
    margin-bottom: 15px;
    width: 350px;
    max-width: 350px;
    min-width: 350px;
    padding: 10px;
    box-sizing: border-box;
}

#submit-button {
    width: fit-content;
    box-sizing: border-box;
    padding: 15px 20px;
    background-color: #0078FF;
    border-radius: 50px;
    color: white;
    border: 5px solid white;
    font-size: 20px;
    cursor: pointer;
}

#submit-button:hover {
    transition: 0.5s;
    border: 5px solid #CDE1F8;
    background-color: #3393FF;
}

#submit-button:not(hover) {
    transition: 0.5s;
    border: 5px solid white;
    background-color: #0078FF;
}

form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.form-container {
    box-sizing: border-box;
}

#contact-icon {
    width: 18px;
}

#contact-circle {
    border-radius: 100%;
    border: 3px solid #0078FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#contact-circle > img {
    width: 40px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    flex-direction: row;
}

#contact-circle > img:hover {
    filter: invert(1);
    transition: 0.5s;
}

#contact-circle > img:not(hover) {
    filter: invert(0);
    transition: 0.5s;
}

#contact-circle:hover {
    border: 3px solid #CDE1F8;
    background-color: #0078FF;
    transition: 0.5s;
}

#contact-circle:not(:hover) {
    border: 3px solid #0078FF;
    transition: 0.5s;
}

#contact-title {
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 5px;
}

#blue-line {
    width: 100px;
    height: 3px;
    background-color: #0078FF;
    margin-bottom: 30px;
}

#contact-text {
    font-size: 18px;
    line-height: 160%;
    color: rgb(84, 84, 84);
    text-align: justify;
}

#contact-info {
    margin: 20px 0 20px 0;
}

#contact-info > div {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

#contact-info > div > div {
    margin-right: 20px;
}

.footer {
    background-color: #0062D3;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.footer > div {
    text-align: center;
    line-height: 170%;
    color: white;
}
