html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import 'typed';
p, h2, h3, a, li{
    font-family: 'Roboto';
    font-weight: 300;
}

.container{
    width: 70%;
    margin: 0 auto;
}

body{
    background-color: #f5f5f5;
    header{
        
            .header-title{
                width: 100%;
                height: 100vh;
                background-image: url(./img/header_bg.jpg);
                background-attachment: fixed;
                
                .header-opacity{
                    width: 100%;
                    height: 100%;
                    background-color: rgb(0, 0, 0, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    h2{
                        font-weight: 600;
                        font-size: 80px;
                        color: white;
                    }
                    .typed{
                        color: white;
                        font-family: 'Roboto';
                        font-size: 40px;
                        margin-top: 20px;
                        @include typed("Designer", "Developer", "Freelancer", "Photographer");
                    }
                }
            }
        
        nav{
            
            margin: 0 auto;
            padding: 30px 0;
            background-color: black;
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            z-index: 1000;
            .container-nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
            
            .nav-title{
                color: white;
                font-weight: 600;
                font-size: 28px;
                cursor: pointer;
                text-decoration: none;
            }
            ul{
                display: flex;
                li{
                    margin-right: 30px; 
                    color: white;
                    font-size: 17px;
                    text-transform: uppercase;
                    font-weight: 400;
                    cursor: pointer;
                    text-decoration: none;
                    transition: 0.3s all;
                    padding-bottom: 5px;
                    a{
                    color: white;
                    font-size: 17px;
                    text-transform: uppercase;
                    font-weight: 400;
                    
                    cursor: pointer;
                    text-decoration: none;
                    
                    }
                }
                li:hover{
                    border-bottom:3px solid white ;
                }
                :last-child{
                    margin-right: 0;
                }
                .nav-dropdown{

                }
            }
        }
        }

    }


    .about_card{
        width: 100%;
        padding: 70px;
        display: flex;
        background-color: white;
        margin-top: 100px;
        .about_stats{
            width: 50%;
            .about_info{
                display: flex;
                height: 150px;
                img{
                    width: 150px;
                    height: 100%;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 50px;
                    li{
                        span{
                            text-transform: capitalize;
                            font-weight: 400;
                        }
                    }
                }
            }
            .about_skills{
                margin-top: 50px;
                h2{
                    font-weight: 400;
                }
                .skill_elem{
                    margin-top: 30px;
                    p{

                    }
                    .skill_bar{
                        width: 90%;
                        height: 15px;
                        background-color: #cde1f8;
                        margin-top: 15px;
                        .inline_bar{
                            height: 100%;
                            background-color: #0d6efd;

                        }
                        .skill1{
                            width: 85%;
                        }
                        .skill2{
                            width: 75%;
                        }
                        .skill3{
                            width: 50%;
                        }
                        .skill4{
                            width: 90%;
                        }
                    }

                }
            }

        }
        .about_txt{
            width: 50%;
            .about_txt_title{
                h2{
                    font-size: 32px;
                    font-weight: 400;
                }
                .line{
                    height: 3px;
                    width: 100px;
                    background-color: #0d6efd;
                    margin-top: 10px;
                }
            }
            p{
                font-size: 1.25rem;
                font-weight: 300;
                color: #4e4e4e;
                margin-top: 30px;
                line-height: 40px;
            }
        }
    }
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        .services_title{
            font-weight: 600;
            font-size: 48px;
        }
        .services_subtitle{
            margin-top: 15px;
        }
        .services_line{
            height: 5px;
            width: 40px;
            background-color: #0d6efd;
            margin-top: 15px;
        }
        .services_elements{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .services_elem{
                width: 32%;
                height: 300px;
                background-color: white;
                border-radius: 5px;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                }
                img{
                    border-radius: 50%;
                    border: 10px solid #0d6efd;
                    padding: 20px;
                    transition: 0.7s all;
                }
                h2{
                    font-weight: 500;
                    font-size: 23px;
                    margin-top: 20px;
                }
                p{
                    text-align: center;
                    margin-top: 15px;
                    line-height: 25px;
                }
            }
            .services_elem:hover{
                img{
                    background-color: #0078ff;
                    border-color: #7aafeb;
                }
        }
    }
    .counter{
        height: 400px;
        background-image: url(./img/counters-bg.jpg);
        background-attachment: fixed;
        margin-top: 50px;
        .counter-opacity{
            width: 100%;
            height: 100%;
            background-color: rgb(13, 110, 253, 0.5);
            
            .container-counter{
                height: 100%;
                display: flex;
                align-items: center;
                ul{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    li{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        img{
                            padding: 20px;
                            border-radius: 50%;
                            border: rgb(255, 255, 255, 0.7) solid 10px;
                            
                        }
                        p{
                            text-align: center;
                            color: white;
                            margin-top: 20px;
                            line-height: 30px;
                            span{
                                font-size: 25px;
                            
                            }
                        }
                    }
                }}
    }
}
.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    .portfolio_title{
        font-weight: 600;
        font-size: 48px;
    }
    .portfolio_subtitle{
        margin-top: 15px;
    }
    .portfolio_line{
        height: 5px;
        width: 40px;
        background-color: #0d6efd;
        margin-top: 15px;
    }
    .portfolio_elements{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .portfolio_elem{
            width: 32%;
           // height: 370px;
            background-color: white;
            border-radius: 5px;
            margin-top: 50px;
            

            .port_pic{
                overflow: hidden;
                img{    
                    width: 100%;
                    cursor: pointer;
                    overflow: hidden;
                    transition: all 1s;
                }
                img:hover{
                    transform: scale(1.3);
                }
            }
            .portfolio_content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 30px 15px ;
            .portfolio_txt{
                h2{
                    font-weight: 500;
                    font-size: 20px;
                }
                p{
                    margin-top: 10px;
                }
                span{
                    color: #0078ff;
                }
            }
            .portfolio_plus{
                color: #0078ff;
                font-size: 40px;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 3px #0078ff solid;
                cursor: pointer;
            }
        }

}}}
.slider{
        height: 550px;
        background-image: url(./img/overlay-bg.jpg);
        background-attachment: fixed;
        margin-top: 50px;
    .slider_opacity{
            width: 100%;
            height: 100%;
            background-color: rgb(13, 110, 253, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        .slider_elem{
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            img{
               height: 150px;
               width: 150px;
               border-radius: 50%;

            }
            h2{
                text-align: center;
                color: white;
                font-weight: 500;
                font-size: 23px;
                text-transform: uppercase;
                margin-top: 30px;
            }
            p{
                text-align: center;
                color: white;
                margin-top: 25px;
                font-size: 19px;
                width: 80%;
                line-height: 30px;
            }

        }
        .dots{
            padding: 30px;
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            display: inline-block;
            transition-duration: 0.5s;
          }
          .dot:hover{
            background-color: #949494;
        }}
    }
}
.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    .blog_title{
        font-weight: 600;
        font-size: 48px;
    }
    .blog_subtitle{
        margin-top: 15px;
    }
    .blog_line{
        height: 5px;
        width: 40px;
        background-color: #0d6efd;
        margin-top: 15px;
    }
    .blog_elements{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .blog_elem{
            width: 32%;
            height: 480px;
            background-color: white;
            border-radius: 5px;
            margin-top: 50px;
            position: relative;
            img{
                width: 100%;
                cursor: pointer;
            }
            .blog_content{
                padding: 15px;
                margin-top: 10px;
                position: relative;
                display: flex;
                flex-direction: column;
                h2{
                    font-weight: 500;
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                    margin-top: 13px;
                    line-height: 20px;
                }
                a{
                    padding: 12px;
                    font-size: 13px;
                    font-weight: 500;
                    background-color: #0d6efd;
                    color: white;
                    text-decoration: none;
                    position: absolute;
                    align-self: center;
                    top: -35px;
                }
                
            }
            .blog_footer{
                background-color: rgb(0, 0, 0, 0.07);
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 15px 0;
                position: absolute;
                bottom: 0;
                .blog_name{
                    display: flex;
                    align-items: center;
                    margin-left: 15px;
                    
                    img{
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }
                    p{
                        margin-left: 15px;
                        margin-top: 0;
                        color: black;
                        cursor: pointer;
                        transition-duration:1s;
                    }
                }
                .blog_name:hover{
                    p{
                        color: #0078ff;
                    }
                }
                .blog_time{
                    display: flex;
                    align-items: center;
                    margin-right: 15px;
                    img{
                        width: 32px;
                        height: 32px;
                    }
                    p{
                        margin-left: 5px;
                        margin-top: 0;
                    }
                }
            }
            
        }}}

        footer{
            background-image: url(./img/overlay-bg.jpg);
            background-attachment: fixed;
            height: 85vh;
            margin-top: 100px;
            .footer_opacity{
                width: 100%;
                height: 100%;
                background-color: rgb(13, 110, 253, 0.5);
                display: flex;
                align-items: center;
                .footer_card{
                    width: 100%;
                    height: 500px;
                    background-color: white;
                    display: flex;
                    padding: 50px;
                    .form{
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        h2{
                            font-size: 32px;
                            font-weight: 600;
                        }
                        .line{
                            width: 100px;
                            height: 3px;
                            background-color: #0d6efd;
                            margin-top: 10px;
                        }
                        input{
                            margin-top: 30px;
                            padding: 15px;
                            border-color:rgb(128, 128, 128, 0.1) ;
                        }
                        textarea{
                            margin-top: 30px;
                            resize: none;
                            padding: 15px;
                            border-color:rgb(128, 128, 128, 0.25) ;
                            
                        }
                        textarea::placeholder{
                            font-family: 'Roboto';
                        }
                        textarea:focus, input:focus{
                            border: #0078ff 3px solid;
                            outline: none;
                        }
                        button{
                            
                            background: #0078ff;
                            border: 0;
                            padding: 10px 24px;
                            color: #fff;
                            align-self: center;
                            margin-top: 15px;
                            border-radius: 15px;
                            transition: all 1s;
                            cursor: pointer;
                        }
                        button:hover{
                            background: #3393ff;
                            
                        }
                       
                    }
                    .get_in_touch{
                        display: flex;
                        flex-direction: column;
                        width: 50%;
                        margin-left: 40px;
                        h2{
                            font-size: 32px;
                            font-weight: 600;
                        }
                        .line{
                            width: 100px;
                            height: 3px;
                            background-color: #0d6efd;
                            margin-top: 10px;
                        }
                        .footer_txt{
                            line-height: 30px;
                            width: 80%;
                            margin-top: 50px;
                            color: #4e4e4e;
                            font-size: 20px;
                        }
                        ul{
                            margin-top: 20px;

                            li{
                                display: flex;
                                align-items: center;
                                margin-top: 10px;
                                img{
                                    width: 30px;
                                }
                                p{
                                    margin-left: 10px;
                                    color: black;
                                }
                            }
                        }
                        .socials{
                            display: flex;
                            margin-top: 30px;
                            :first-child{
                                margin-left: 0;
                            }
                            img{
                                width: 20px;
                                border-radius: 50%;
                                border: 3px #0078ff solid;
                                padding: 15px;
                                margin-left: 15px;
                                fill: #0078ff;
                                transition: all 0.7s;
                                cursor: pointer;
                            }
                            
                                img:hover{
                                    background-color: #0078ff;
                                    border-color: #7aafeb;
                                }
                        
                        }
                    }
                    
                }
            }
        }
}

#scroll-btn {       
    opacity: 0;   
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #0078ff;
    position: fixed;
    bottom: 50px;
    right: 50px;    
    border: none;
    border-radius: 50%; 
    font: bold 20px monospace;       
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;
}
#scroll-btn.show {      
    opacity: 1;  
    transition: opacity 1s, transform 1s;     
}
.dropbtn {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;               
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    img{
        width: 20px;
    }
  }
  
  .dropdown {
    position: relative;
    margin-top: -2px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    flex-direction: column;
    .dropdown_elem{
        padding: 10px 20px;
        font-size: 14px;
        text-transform: none;
        color: #4e4e4e;
    }
  }
  
  
  
  .dropdown_elem:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: flex;}

  .deepdropbtn {             
    cursor: pointer;
    border: none;
    font-size: 14px;
    color: #4e4e4e;
    margin-left: -7px;
    background: none;
  }
  
  .deepdropdown {
    position: relative;
  }
  
  .deepdropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 10px;
    flex-direction: column;
    .deepdropdown_elem{
        padding: 10px 20px;
        font-size: 14px;
        text-transform: none;
        color: #4e4e4e;
    }
  }
  
  
  
  .deepdropdown_elem:hover {background-color: #ddd;}
  
  .deepdropdown:hover .deepdropdown-content {display: flex;}
  